<div class="container">
<div class="row row-cols-1 row-cols-md-3 ">
    <div class="col">
        <div class="card bg-transparent text-dark"  >
            <div class="card-body"> 
                <a href="#" class="btn btn-dark">Juegos</a>
            </div>
            <img src="./../../../assets/carousel/juegos.png" class="card-img-top rounded-circle" >
        
        </div>
    </div>
    <div class="col ">
    <div class="card bg-transparent text-dark" >
        <div class="card-body "> 
            <a href="#" class="btn btn-dark" >Ranking</a>
        </div>
        <img src="./../../../assets/carousel/listado.jpg" class="card-img-top rounded-circle" >
    </div>
</div>
</div>

<div class="row row-cols-1 row-cols-md-4 ">
    <div class="col">
        <div class="card bg-transparent text-dark"  >
            <div class="card-body"> 
                <a href="#" class="btn btn-dark">Ahorcado</a>
            </div>
            <img src="./../../../assets/juegos/ahorcado.png" class="card-img-top rounded-circle" >
        
        </div>
    </div>
    <div class="col ">
    <div class="card bg-transparent text-dark" >
        <div class="card-body "> 
            <a href="#" class="btn btn-dark" >Preguntados</a>
        </div>
        <img src="./../../../assets/juegos/preguntados.jpg" class="card-img-top rounded-circle " >
    </div>
</div>
<div class="col">
    <div class="card bg-transparent text-dark"  >
        <div class="card-body"> 
            <a href="#" class="btn btn-dark">Mayor o menor</a>
        </div>
        <img src="./../../../assets/juegos/mayor-menor.jpg" class="card-img-top rounded-circle" >
    
    </div>
</div>
<div class="col ">
<div class="card bg-transparent text-dark" >
    <div class="card-body "> 
        <a href="#" class="btn btn-dark" >Simon dice</a>
    </div>
    <img src="./../../../assets/juegos/simon-dice.jpg" class="card-img-top rounded-circle" >
</div>
</div>
</div>
</div>