 
<div class="container">
 
    <div class="messaging">  
            <div class="mesgs">
              <div class="msg_history">
                <div class="incoming_msg">
                   
                  <div class="received_msg">
                    
                    <div class="received_withd_msg" *ngFor='let msj of mensajes'> 
                      
                  <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <p>{{msj.mensaje}}</p>
                      <span class="time_date">   {{msj.remitente}} |   {{msj.diaHora}}  </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="type_msg">
                <div class="input_msg_write"> 
                  <input  [(ngModel)] ='mensajeEnviar' type="text" class="write_msg" placeholder="Escribir un mensaje..." />
                  <button class="msg_send_btn" type="button" (click)='mandarMensaje( )'><img src="./../../../assets/enviar.png"></button>
                </div>
              </div>
            </div> 
          
 
        </div></div>

