<div class="container">
  <div class="messaging">
    <div class="mesgs">
      <div class="msg_history">
        <div class="incoming_msg">
          <div class="received_msg">
            <div class="received_withd_msg" *ngFor='let msj of mensajes'>
              <div > <img  width="20px" src="https://ptetutorials.com/images/user-profile.png"> <span > {{msj.remitente}} | {{msj.diaHora}} </span></div>
              <p class="messaging">{{msj.mensaje}}</p> 
              <hr>
            </div>
          </div>
        </div>
      </div>
      <div class="type_msg">
        <div class="input_msg_write">
          <input [(ngModel)]='mensajeEnviar' type="text" class="write_msg" placeholder="Escribir un mensaje..." />
          <button class="msg_send_btn" type="button" (click)='mandarMensaje( )'><img
              src="./../../../assets/enviar.png"></button>
        </div>
      </div>
    </div>
  </div>
</div>